.Home {
    
    &__content {
        display: block;
        max-width: 900px;
        width: 90%;
        margin: auto;
    }
    &__settings {
        display: flex;
        justify-content: space-between;

    }
    &__input-container {
        width: 48%;
       
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
        border: 1px solid var(--ion-color-primary);
        border-radius: 8px;
    }
    &__input {

    }
    &__title {
        text-align: center;
    }
    &__output-container {
        width: 48%;
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
        border: 1px solid var(--ion-color-primary);
        border-radius: 8px;
    }
    &__output {
        text-align: right;
    }
    &__start {
        text-align: right;
    }
    &__tokens {
        text-align: right;
    }
    &__curnum {
        display: block;
        margin: 1rem auto 0 auto;
        width: fit-content;
        font-size: 1.5rem;
    }
    &__submit {
        display: block;
        margin: .5rem auto;
        width: 5rem;

    }
}