.Home {
    
    &__content {
        display: block;
        max-width: 900px;
        width: 90%;
        margin: auto;
    }
    &__input-container {
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
        border: 1px solid var(--ion-color-primary);
        border-radius: 8px;
    }
    &__input {

    }
    &__title {
        text-align: center;
    }
    &__output-container {
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
        border: 1px solid var(--ion-color-primary);
        border-radius: 8px;
    }
    &__output {
        text-align: right;
    }
    &__start {
        text-align: right;
    }
    &__tokens {
        text-align: right;
    }
}